:root {
    --color-primary: #1E1E1E;
    --color-dark: #245B5F;
    --color-background: #ABE6EA;

    --typography-size-h1: 32px;
    --typography-size-th: 27px;
    --typography-size-login: 22px;
    --typography-size-body: 17px;

    --typography-spacing-h1: 0.04rem;
    --typography-spacing-h2: 0.05rem;
    --typography-spacing-body: 0.02rem;

    --icon-hue-shift: invert(5%) sepia(10%) saturate(7495%) hue-rotate(182deg) brightness(95%) contrast(105%);
    --link-icon-hue-shift: invert(94%) sepia(31%) saturate(4501%) hue-rotate(319deg) brightness(103%) contrast(102%);


}

body {
    width: 100vw;

    background-color: var(--color-background);
    color: var(--color-primary);

    font-size: var(--typography-size-body);
    letter-spacing: var(--typography-spacing-body);
    line-height: 105%;
    text-align: justify;
    overflow-x: hidden;
    
}

header {
    background-color: var(--color-dark);
    margin: 0;
    box-sizing: content-box;
    width: 100% ;
    height: 60px;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas: nada login;
    grid-template-columns: 88.2% auto;
}

.login {
grid-area: login;
margin:0px auto auto 4%;
border: 1px solid var(--color-background);
border-radius: 30px;

font-size: var(--typography-size-login);
background-color: var(--color-background);
}

.catalogo {

    color: var(--color-primary);
    font-size: var(--typography-size-h1);
    letter-spacing: var(--typography-spacing-h1);
    text-align: center;
    line-height: 110%;
    font-weight: 700;
    margin: 120px auto 60px auto;
    border: 10px solid #245B5F;
    box-sizing: border-box;
    width: 800px;
    height: 60px;
    border-radius: 5000px;


}

.tabla_catalogo {
    border-collapse: collapse separate;
    border: 7.5px solid var(--color-dark);
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0px auto 60px auto;
}

.tabla_catalogo thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla_catalogo th, .tabla_catalogo td {
    padding: 12px 75px;
}

.tabla_catalogo tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla_catalogo tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla_catalogo tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla_catalogo tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

footer {}