:root {
    font-size: 16px;
    --color-primary: #1E1E1E;
    --color-dark: #245B5F;
    --color-background: #ABE6EA;

    --typography-size-h1: 2rem;
    --typography-size-th: 27px;
    --typography-size-login: 22px;
    --typography-size-body: 22px;

    --typography-spacing-h1: 0.04rem;
    --typography-spacing-h2: 0.05rem;
    --typography-spacing-body: 0.02rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1.5px solid red;
}

body {
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: var(--typography-size-body);
    letter-spacing: var(--typography-spacing-body);
    line-height: 105%;
    position: relative;
}

main {
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: var(--color-dark);
    width: 100%;
    height: 5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login {
    border: 1px solid var(--color-background);
    border-radius: 30px;
    padding-inline: 1rem;
    cursor: pointer;

    font-size: var(--typography-size-login);
    background-color: var(--color-background);

    transition: background-color 200ms ease-in;
    transition: transform 150ms ease-in;
    transition: box-shadow 150ms ease-in;
}

.login:hover {
    background-color: blanchedalmond;
}

.login:active {
    background-color: rgb(243, 192, 150);
    box-shadow: 0.5rem 0.2rem 0.5rem var(--color-primary);
    transform: translateY(0.2rem);
}

.catalogo {
    grid-area: cat;
    color: var(--color-primary);
    font-size: var(--typography-size-h1);
    letter-spacing: var(--typography-spacing-h1);
    text-align: center;
    line-height: 110%;
    font-weight: 700;
    margin: 120px auto 60px auto;
    border: 10px solid #245B5F;
    box-sizing: border-box;
    width: 800px;
    height: 60px;
    border-radius: 5000px;
}

.tabla_catalogo {
    grid-area: tab;
    border-collapse: collapse separate;
    border: 7.5px solid var(--color-dark);
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0px auto 60px auto;
}

.tabla_catalogo thead tr {
    color: var(--color-primary);
    font-size: var(--typography-size-th);
}

/*.tabla_catalogo th,
.tabla_catalogo td {
    padding: 12px 75px;
}*/
.tabla_catalogo td{
    font-size: var(--typography-size-body);
}

.tabla_catalogo tbody tr {
    border-bottom: 1px solid #dddddd;
}


.tabla_catalogo tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla_catalogo tbody tr.active-row {
    font-weight: bold;
    color: #f3f3f3;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer--container {
    width: 100%;
    display: grid;
    justify-content: center, baseline;
    grid-template-areas: '. biblio .' 'sn guion acad';
}

.footer--biblio {
    grid-area: biblio ;
    color: var(--color-primary);
    font-size: var(--typography-size-th);
    text-align: center;
}
.footer--sn {
    grid-area: sn;
    text-align: center;
}
.footer--hyphen {
    grid-area: guion;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.footer--hyphen__error{
    color: red;
}
.footer--hyphen__success{
    color: green;
}
.footer--ac {
    grid-area: acad;
    text-align: center;
}